<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="../static/css/d3Style.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <!--AnyChart-->
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-circular-gauge.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">

    <title>Dashboard</title>
    
  </head>
          <!-- Nav Bar -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="home">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Data
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/api/v1.0/nutrition" target="_blank">Nutrition</a></li>
                      <li><a class="dropdown-item" href="/api/v1.0/restaurants" target="_blank">Restaurants</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
  <!-- Body -->
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 jumbotron text-center" id="header">
          <h1><strong>Fast Food Nutrition</strong></h1>
        </div>
      </div>
      <section>
        <section class="row bar-header"; style="width:98%;"><h4 style="color:#F7F7F9; background-color:#64b5f6">Macronutrients for Selected Items</h4></section>
      </section>
    <div class='container'>
    <section class="row chart-section"; style="margin-top: 15px">

<div class="col-3">
  <strong><h4>First Menu Item</h4></strong>
  <form name="form1" id="form1" action="/action_page.php">
  Restaurants: <select name="restaurants" id="restaurant1" style="width:190px">
      <option value="" selected="selected">Select a Restaurant</option>
    </select>
    <br><br>
  Categories: <select name="categories" id="category1" style="width:190px">
      <option value="" selected="selected">Select restaurant first</option>
    </select>
    <br><br>
  Menu Items: <select name="items" id="item1" style="width:190px">
      <option value="" selected="selected">Select category first</option>
    </select>
    <br><br>
  </form>
</div>
<div class="col-6" id="container"></div>
<div class="col-3">
  <strong><h4>Second Menu Item</h4></strong>
  <form name="form1" id="form1" action="/action_page.php">
  Restaurants: <select name="restaurants" id="restaurant2" style="width:190px">
      <option value="" selected="selected">Select a Restaurant</option>
    </select>
    <br><br>
  Categories: <select name="categories" id="category2" style="width:190px">
      <option value="" selected="selected">Select restaurant first</option>
    </select>
    <br><br>
  Menu Items: <select name="items" id="item2" style="width:190px">
      <option value="" selected="selected">Select category first</option>
    </select>
    <br><br>
  </form>
</div>
</section>
<section class="row bar-header"; style="width:99%;margin-left: 5px"><h4 style="color:#F7F7F9">Micronutrients for Selected Items</h4></section>
       <section class="row chart-section">
         <div class="col-6 pr-3" id="radialChartA"><h4></h4></div>
         <div class="col-6 pr-3" id="radialChartB"><h4></h4></div>
       </section>
      <section class="row instructions"><h4 style="color:#222831; color:#F7F7F9">Calories, Carbs, & Protein For Items By Restaurant</h4></section>
      <section class="row chart-section" id="bubble"><h4></h4></section>
      
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="./static/js/default_plots.js"></script>
    <script src="./static/js/update_plots.js"></script>
    <script src="./static/js/bubble.js"></script>
  
  </body>
</html>