<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/bootstrap.min (2).css" rel="stylesheet" type="text/css">
    <title>Home</title>
  </head>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Home<span class="sr-only">(current)</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="dashboard">Dashboard </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Data
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/api/v1.0/nutrition" target="_blank">Nutrition</a>
              <a class="dropdown-item" href="/api/v1.0/restaurants" target="_blank">Restaurants</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Landing Page -->
   <body>
    <!-- Slides  -->
    <div class="jumbotron jumbotron-fluid" style="background-color: #393e46;">
      <div class="container">
        <h1 class="display-4" style="color:white">What are we eating?</h1>
        <p class="lead" style="color:white">Nutritional values for more than 700 menu items at 3 fast food chains.</p>
        <hr class="my-4" style="color:white; background-color:#4dafff";>
        <p style="color:white"> Visit our interactive dashboard and select any two menu items that you would like compare. Also, check out our dynamic scatter plot to see which menu items have the lowest and highest calories, protein, and carbohydrates at each restaurant.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="dashboard" role="button" style="background-color:#4dafff; border-color:#4dafff; color:#393e46">Learn more</a>
        </p>
      </div>
    </div>

    <div class="container">
      <!--Second Row -->
      <div class="row">
        <div class="col-sm-4">
          <a href="https://www.mcdonalds.com/us/en-us/full-menu.html" target="_blank"><img src="./static/images/mcdonalds.png" class="rounded-circle mx-auto d-block" style="width: 150px; padding-bottom:25px"alt="McDonald's"></a>
          <h5 class="col text-center">McDonald's</h5>
        </div>
        <div class="col-sm-4">
          <a href="https://www.starbucks.com/menu" target="_blank"><img src="./static/images/Starbucks.png" class="rounded-circle mx-auto d-block" style="width: 150px; padding-bottom:25px"alt="Starbucks"></a>
          <h5 class="col text-center">Starbucks</h5>
        </div>
        <div class="col-sm-4"> 
          <a href="https://www.subway.com/en-US/MenuNutrition" target="_blank"><img src="./static/images/Subway.png" class="rounded-circle mx-auto d-block" style="width: 150px; padding-bottom:25px;"alt="Subway"></a>
          <h5 class="col text-center">Subway</h5>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>